.wrapper{
    margin-top:20px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding-top:50px;
    padding-bottom:50px;
}

.count{
    /* border:1px solid #ff0; */
    padding:20px;
    margin-bottom:50px;
}
.subtitle{
    font-weight: bold;
    margin-bottom:20px;
}
.total{
    margin:10px 0;
}
.total span{
    font-weight: 800;
    font-size:18px;
    color:#333;
}
.mabuchart{
    margin-top:80px;
  }