.wrapper{
    width:100%;
    border:1px solid #dff;
    display:flex;
    justify-content:center;
    align-items: center;
}
.criminalimg{
    border:1px solid #fff;
}
.criminalinfo{
    word-break: keep-all;
    flex:1;
    line-height:170%;
    padding: 0 50px;
}
.script{
    font-size:18px;
}
.law{
   color:#999;
}