.answers{
    display:flex;
    justify-content: center;
}
.answer{
    overflow:hidden;
    margin: 0 10px;
    width:50px;
    height:50px;
    border-radius:50%;
    transition: all .5s;
}

.button{
    width:100%;
    height:100%;
    outline:none;
    cursor:pointer;
}
.answer.selected{
    transform:scale(50);
    z-index:10;
    position: relative;
}
.button.selected{
    display:none;
}