.wrapper{
 margin:0 auto;
 width:700px;
 height:100vh;
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.centered{
    /* margin:auto 0; */
    text-align: center;
}