.wrapper{
    margin-bottom:50px;
    padding:20px;
}
.myresult{
    text-align:left;
    margin-top:20px;
    line-height:170%;
}
.title{
    margin:30px 0;
    font-size:21px;
    font-weight: 800;
}
.content{
    display:flex;
}
.content ul li{
    margin-bottom:20px;
}
.contentleft{
    text-align:justify;
}
.contentright{
    text-align:left;
    margin-left:50px;
}
.subtitle{
    font-weight: bold;
}
.reason{
    text-align:left;
    line-height:170%;
}