.wrapper{
    margin-bottom:50px;
    padding:0 20px;
}
.myresult{
    text-align:left;
    margin-top:20px;
    line-height:170%;
    font-size: 18px;
}
.myresult span{
    font-weight: 800;
    color:#333;
}
.reason{
    line-height:170%;
    font-size: 18px;
}
.title{
    text-align:center;
    margin:30px 0;
    font-size:21px;
    font-weight: 800;
    line-height:180%;
    letter-spacing:1em;
    white-space: nowrap;
}
.content{
    white-space: nowrap;
}
.wraptxt{
    white-space: normal;
    flex:3;
}
.content ul{
    text-align: left;
    display:flex;
}
.content ul li{
    margin-bottom:20px;
    line-height: 130%;
}
.content ul li.leftcon{
    flex:1;
}.content ul li.rightcon{
    flex:3;
}
.subtitle{
    font-weight: bold;
}
.reason{
    text-align:left;
    line-height:170%;
}