.wrapper {
    width: 700px;;
    margin:0 auto;
    color: white;
    text-align: center;
  }
  
  .button {
    min-width: 125px;
    padding: 7px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
    cursor: pointer;
  }
  
  .button:first-of-type {
    margin-top: 50px;
  }

  