.wrapper {
    width: 700px;;
    margin:0 auto;
    padding-bottom:100px;
    color: white;
    text-align: center;
  }
  .title{
    margin:50px 0;
    font-size:24px;
  }
  .button {
    min-width: 125px;
    padding: 7px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
    cursor: pointer;
  }
  
  .button:first-of-type {
    margin-top: 50px;
  }

  .answer1section{
    margin-top:30px;
    background:#333;
    padding:0 30px;
  }
  .probationsection{
    margin-top:30px;
    background:#333;
    padding:0 30px;
  }
  .judgesection{
    margin-top:30px;
    background:#333;
    padding:0 30px;

  }