.wrapper{
    font-size:18px;
    text-align: center;
    line-height:1.5em;
    margin-bottom:50px;
}
.selectsex, .selectage{
    margin:10px;
    display:flex;
    justify-content: center;
}
.button{
    cursor:pointer;
    padding:5px 10px;
    margin:0 5px;
    color:#ccc;
    border:1px solid #ccc;
    border-radius: 10px;
}
.button:hover{
    color:#a5e5d9;
    border:1px solid #a5e5d9;
}
.button.selected{
    /* border:1px solid cyan;
    color:cyan; */
    color:#a5e5d9;
    border:1px solid #a5e5d9;
    box-shadow: 0 0 2px #fff, 0 0 8px #a5e5d9, 0 0 20px #a5e5d9;
}