@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  overflow-x:hidden;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#fff;
  background:#161616;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: transparent;
}
body::-webkit-scrollbar { width: 0 !important }
body { 
  font-family:'Nanum Gothic', sans-serif;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */ 
}
.slider{
  width:100%;
}
*,button:focus {outline:0;}
.bartooltip{
  padding:10px;
  background: #fff;
}
.bartooltip div{
margin-bottom:10px;
font-size: 16px;
}
.bartooltip div:last-child{
  margin-bottom:0;
  }
.bartooltip .tooltiptitle{
  font-weight: 800;
}
.apexcharts-canvas{
  margin-top:-10px;
  margin-left:-8px;
}
.apexcharts-legend-marker{
  cursor:default !important;
}
.mytooltip{
  font-size:14px;
  padding:10px;
}
#mygraph{
    margin-top:30px;
    border-bottom: 1px solid #ddd;
}
#mygraph .apexcharts-canvas{
  margin-top:0;
  margin-left:0;
}
button{
  background:transparent;
}
/* .apexcharts-xaxistooltip-bottom:before{
  display:none !important
}
.apexcharts-xaxistooltip-bottom:after{
  display:none !important;
}
#mygraph .apexcharts-tooltip{
  display:none;
} */
@media screen and (max-width: 700px) {
  html,body{
    width:100%;
    overflow-x: hidden;
  }
}